*{
    font-family: 'Prompt', sans-serif;
    position: relative;
    box-sizing: border-box;
}
html,body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;

    text-align: center;
    box-sizing: border-box;
}
h1{
    font-size: 40px;
    line-height: 45px;
    text-align: center;
    color: #3B4C80;
    padding-bottom: 10px;
    margin-top: 0px;
    margin-bottom:  0px;
}
h2{
    font-size: 20px;
    line-height: 30.24px;
    text-align: left;
}
input{
    font-size: 20px;
    line-height: 25px;
    border: solid 1px #3B4C80;
    width: 100%;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.05);
}
button{
    display: inline-block;
    width: 100%;
    padding: 15px 20px;
    border-radius: 10px;
    font-size: 20px;
    line-height: 30.24px;
    text-align: center;
    margin-top: 20px;
    border: none;
    cursor: pointer;
}
.titel{
    text-align: center;
    color: #3B4C80;
    padding-bottom: 10px;
    font-size: 28px;
}
.container{
    width: 100vw;
    min-height: 100vh;
    background-image: url('../assets/background.png');
    background-repeat:no-repeat;
    background-size: cover;
    vertical-align: middle;
}
#btn1{
    border: 1px solid #736EFE;
    background-color: transparent;
    color: #736EFE;
    line-height: 27.22px;
    margin-top: 50px;
}
#btn2{
    background: linear-gradient(90deg, #5EFCE8 0%, #736EFE 100%);
    color: #FFF;
    line-height: 27.22px;
}
.change-page{
    display: inline-block;
    margin-top: 0px;
    width: 60%;
}
.change-page button{
    margin-top: 0px;
    margin-bottom: 20px;
}
.page-btn{

    background: rgba(255, 255, 255, 0.8);
    color: #736EFE;
    line-height: 27.22px;
    width: 17vh;
    margin-left: 5px;
    margin-right: 5px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.05);
}
.block{
    position: relative;
    display: inline-block;
    margin: 5vh;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(40px);
    border-radius: 10px;
    padding: 40px 50px;
    min-height: 50vh;
    text-align: center;
    min-width: 40%;
}
.field2{
    width: 48%;
    margin-right: 3%;
}
.field3{
    width: 48%;
}
.field4{
    width: 100%;
}

button:active{
    opacity: 0.5;
}

@media screen and ( max-width:1441px ){
    h1{
        font-size: 30px;
        line-height: 45px;
        padding-bottom: 20px;
    }
    h2{
        font-size: 18px;
    }
    button{
        font-size: 18px;
    }
    input{
        font-size: 18px;
        line-height: 20px;
        padding: 15px;
    }
}
@media screen and ( max-width:901px ){
    .field2{
        width: 100%
    }
    .field3{
        width: 100%
    }
    .field4{
        width: 100%
    }
}
@media screen and ( max-width:768px ){
    h1{
        font-size: 30px;
    }
    button{
        font-size: 18px;
    }
    input{
        line-height: 20px;
    }
    .container{
        max-height: 1300px;
    }
    .block{
        margin: 5vh auto;
        padding: 40px;
    }
    .field2,.field3{
        width: 100%;
    }
    .change-page{
        top: 25%;
    }
    .page-btn{
        font-size: 15px;
        width: 20%;
        margin: 0 5px;
        line-height: 20px;
    }
}

@media screen and ( max-width:426px ){
    h1{
        font-size: 25px;
    }
    .block{
        width: 90vw;
        padding: 5vw;
    }
    .page-btn{
        width: 100%;
    }
}
@media screen and ( min-width:1921px ){
    h1{
        margin-top: 3vh;
        margin-bottom: 3vh;
        font-size: 45px;
    }
    h2{
        margin-top: 2vh;
        margin-bottom: 2vh;
    }
    button{
        margin-top: 2vh;
    }
    .block{
        margin-top: 12vh;
        min-height: 60vh;
        max-width: 90vh;
    }
}