*{
    font-family: 'Prompt', sans-serif;
    /* border: 1px black solid; */
    position: relative;
    box-sizing: border-box;
}
html,body{
    margin: 0;
    padding: 0;
    text-align: center;
    box-sizing: border-box;
}
h1{
    /* font-weight: bold; */
    font-size: 40px;
    line-height: 60.48px;
    text-align: center;
    color: #3B4C80;
    padding-bottom: 40px;
}
h2{
    /* font-weight: bold; */
    font-size: 20px;
    line-height: 30.24px;
    text-align: left;
}
input{
    font-size: 20px;
    line-height: 27.22px;
    border: solid 1px #3B4C80;
    /* height: 80px; */
    width: 100%;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.05);
}
button{
    display: inline-block;
    width: 100%;
    padding: 15px 20px;
    border-radius: 10px;
    font-size: 20px;
    line-height: 30.24px;
    text-align: center;
    margin-top: 20px;
    border: none;
    cursor: pointer;
}
.container{
    width: 100vw;
    height: 100vh;
    background-image: url('../assets/background.png');
    background-repeat:no-repeat;
    background-size: cover;
    vertical-align: middle;
}
#btn1{
    border: 1px solid#736EFE;
    background-color: transparent;
    color: #736EFE;
    line-height: 27.22px;
    margin-top: 50px;
}
#btn2{
    background: linear-gradient(90deg, #5EFCE8 0%, #736EFE 100%);
    color: #FFF;
    line-height: 27.22px;
}
.change-page{
    display: inline-block;
    top: 20%;
}
.page-btn{
    background: linear-gradient(90deg, #5EFCE8 0%, #736EFE 100%);
    color: #FFF;
    line-height: 27.22px;
    width: 20%;
    margin: 0 10px;
}
.block{    
    position: relative;
    display: inline-block;
    margin: 5vh;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(40px);
    border-radius: 10px;
    padding: 50px;
    height: 90vh;
    text-align: center;
}
.field2{
    width: 48%;
    margin-right: 3%;
}
.field3{
    width: 48%;
}
.field4{
    width: 100%;
}

@media screen and (max-width:1024px){
    .container{
        max-height: 1300px;
    }
    .change-page{
        top:15%;
    }
    .page-btn{
        font-size: 15px;
        width: 20%;
        margin: 0 5px;
        line-height: 20px;
    }
}
@media screen and (max-width:768px){
    h1{
        font-size: 30px;
    }
    button{
        font-size: 18px;
    }
    input{
        line-height: 20px;
    }
    .container{
        max-height: 1300px;
    }
    .block{
        margin: 5vh auto;
        padding: 40px;
    }
    .field2,.field3{
        width: 100%;
    }
    .change-page{
        top: 25%;
    }
    .page-btn{
        font-size: 15px;
        width: 20%;
        margin: 0 5px;
        line-height: 20px;
    }
}